# Node
node_modules/

# Build
dist
dist-ssr
client/dist

# ENV FILES (VERY IMPORTANT 🔐)
.env
.env.local
.env.*.local
server/.env
server/.env.*
client/.env
client/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
